* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: "Poppins", sans-serif;
}

body{
    background-color: #000;
    color: #fff;
    font-size: 16px;
    overflow: hidden;
}

header {
    position: fixed;
    width: 80vw;
    left: 50%;
    transform: translateX(-50%);
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 600px;
    gap: 100px;
    z-index: 2;
    cursor: pointer;

    & img{
        width: 250px;
    }

    & nav {
        & ul {
            display: grid;
            grid-template-columns: repeat(3, 200px);
        }
    }
}

section {
    background-image: radial-gradient(#7f3d9e, #6d00d9);
    height: 100vh;
    position: relative;

    & .List {
        width: 70vw;
        margin: auto;
        height: 100%;
        position: relative;

        & .item{
            position: absolute;
            inset: 0;
            
            & .car-image {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                width: 70%;

                & img {
                    width: 100%;
                    transform: rotate(-30deg);
                }

                &::before {
                    content: '';
                    position: absolute;
                    background-color: #000;
                    width: 100%;
                    height: 100px;
                    top: 125%;
                    left: 50px;
                    border: 50%;
                    filter: blur(50px);
                }
            }

            & .content {
                position: absolute;
                right: -70px;
                width: 70%;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: end;
                gap: 20px;

                & .car-information {
                    font-weight: bold;
                    font-size: 24px;
                    color: #beff1b;
                }

                & h2 {
                    font-size: 8em;
                    line-height: 1em;
                    font-family: "League Gothic", sans-serif;
                }

                & .Description {
                    color: #d9d9d9;
                    font-size: 15px;
                    text-align: right;
                    max-width: 400px;
                }

                & .information {
                    border-radius: 30px;
                    height: 35px;
                    width: 120px;
                    text-transform: uppercase;
                    border: 2px solid #791fd3;
                    background-color: #beff1b;
                    color: #000;
                    font-weight: bold;
                    font-family: "League Gothic", sans-serif;
                }
            }
        }
    
        &::before {
            content: '';
            position: absolute;
            height: 200px;
            width: 110%;
            top: 50%;
            border-top: 1px solid #fff;
        }
    }


    .arrows {
        width: 70vw;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -25px);
        display: flex;
        justify-content: space-between;
        
        & button:nth-child(1) {
            & img {
                transform: scale(-1);
            }
        }

        & button:nth-child(2) {
            margin-left: 107%;
        }

        & button {
            top: 60%;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            border: none;
            cursor: pointer;

            & img {
                width: 30px;
                margin-top: 4px;
                cursor: pointer;
            }

            &:hover{
                background-color: #beff1b;
                box-shadow: 0 0 50px #fff;
            }

        }

    }

    .indicators {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%);
        height: 200px;
        width: 90vw;
        display: flex;
        flex-direction: column;
        justify-content: end;
        gap: 15px;

        & .number {
            font-size: 5em;
            font-family: "League Gothic", sans-serif;
        }

        & ul {
            display: flex;
            gap: 10px;

            & li {
                width: 50px;
                height: 5px;
                background-color: #beff1b;
                border-radius: 5px;
                transition: 0.5;
            }

            & .active {
                background-color: #fff;
                box-shadow: 0 0 20px #fff;
            }
        }

    }
}

section {

    & .List {

--calculation: 1;

         & .item {
            transform: translateX(calc(100vw * var(--calculation)));
            transition: 0.5s;
            opacity: 0;

            & .car-image {

                & img {
                    transform: rotate(0);
                    transition: 0.5s;
                    transition-delay: 0.3s;
                }
            }

            & .content {

                & .car-information, h2, .Description, .information {
                    transform: translateX(cal(200px * var(--calculation)));
                }

                & h2 {
                    transition-delay: 0.5s;
                }

                & .Description {
                    transition-delay: 0.7s;
                }

                & .information {
                    transition-delay: 0.9s;
                }

            }
        }

        & .active {
            transform: translateX(0);
            transition: 0.5s;
            opacity: 1;

              & .car-image {
                & img {
                    transform: rotate(-20deg );
                }
            }

            & .content {

                & .car-information, h2, .Description, .information {
                    transform: translateX(0);
                    opacity: 1;
                }
            }
        }
    }
}